/* reset property */
* {
    margin: 0px;
    padding: 0px;

}

/* logo property */

#logodiv {
    padding: 8px 7px;
    margin: 0px 12px;
}

#logodiv img {
    height: 32px;
    width: 36px;
}

/* navigation Menu */

#navbar {
    display: flex;
    font-family: 'Baloo 2', cursive;
position: sticky;
top: 0;
align-items: center;
}

#navbar li {
    list-style: none;
    position: sticky;
}

#navbar li a {
    display: block;
    text-decoration: none;
    padding: 9px 25px;
    color: aliceblue;
}

#navbar ul {
    display: flex;
}

nav::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 1;
    z-index: -1;
    top: 0;
    left: 0;

}

#navbar li a:hover {
    background-color: white;
    color: black;
    border-radius: 25px;
    margin: 1px 0px;

}

/* home section */
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 58px 240px;
    height: 200px;
}

#home h1 {
    text-align: center;
    font-size: 2.4rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

#home p {
    padding-top: 6px;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

#home::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 350px;
    background: url("/img/foodbg.jpg") no-repeat center center/cover;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.85;
}

/* home button */
.btn {
    padding: 2px 16px;
    text-align: center;
    border: 2px solid rgb(247, 243, 243);
    border-radius: 20px;
    margin: 8px 2px;
    background-color: rgb(207, 176, 107);
    color: aliceblue;
    font-size: 1.3rem;
    font-family: 'Baloo 2', cursive;
    cursor: pointer;

}

/* section properties */
#services {

    margin: 2px 2px;
}

#sectioncontainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

#section-items {

    margin: 1px 1px;
}

.servicelogo {
    border: 2px solid red;
    height: 304px;
    width: 405px;
    border-radius: 22px;
    margin: 24px 15px;
    background-color: rgb(238, 212, 166);
}

.servicelogo img {
    height: 100px;
    width: 102px;
    display: block;
    margin: 10px auto;
}

/* client property */
#clients {
    height: 190px;
}

#client-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#clients img {
    height: 80px;
    width: 80px;
    padding: 22px 50px;
    opacity: 0.9;
}

#clients::before {
    content: "";
    position: absolute;
    background: url("/img/bgimage3.jpg")no-repeat center center/cover;
    width: 100%;
    height: 43%;
    z-index: -1;
    opacity: 0.4;
}

/* contact us property */
/* form property */
#form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form input {
    width: 420px;
    height: 22px;
    border-radius: 4px;
}
input[type="text" ] {
    padding: 1px 2px;
}
::placeholder{
    padding: 1px 2px;
}

form textarea {
    width: 420px;
    font-family: 'Baloo 2', cursive;
    height: 130px;
}

form label {
    width: 423px;
    margin: 4px;
    font-family: 'Baloo 2', cursive;
}
#Contact{
    margin: 40px 0px;
}
#Contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 103%;
    z-index: -1;
    opacity: 0.7;
    background: url(/img/contactus2.jpg) no-repeat center center/cover;
}

/* footer property */
.foottext {
    text-align: center;
    font-family: 'Baloo 2', cursive;
    font-size: 1.1rem;
    color: aliceblue;
}
footer::before{
    background-color: black;
    opacity: 0.8;
    height:20px;
    position: absolute;
    z-index: -1;
content: "";
width:100%;
height:6%;
}

/* utility css */
.h1-primary {
    font-size: 2.4rem;
    text-align: center;
    font-family: 'Baloo 2', cursive;
}

.h2-secondary {
    font-size: 1.2rem;
    text-align: center;
    padding: 1px 1px;
    font-family: 'Baloo 2', cursive;
}

.center {
    text-align: center;
    font-family: 'Baloo 2', cursive;
    margin: 3px 6px;

}